body{
    background-color: antiquewhite;
}
h1{
    text-align: center;
    text-indent: 100px;
    text-shadow: 10px 15px wheat;
    background-color: darkolivegreen;
    font-family: -apple-system;
    letter-spacing: 10px;
    word-spacing: 15px;
}
h2{
    font-size: 30px;
    background-color: azure;
    font-family: times new roman;
}
p{
    background-color: plum;
    padding: 10px;
    margin: auto;
}
ul{
    background-color: aqua;
    text-align: center;
    list-style: none;
    text-decoration: line-through;
    text-transform: uppercase;
}
.list-1{
    font-size: 25px;
}
.list{
    font-family: georgia;
    background-color: palevioletred;
}
.listing{
    font-style: italic;
    background-color: blueviolet;
}
#flower{
    font-size: 10px;
    font-family: -apple-system;
}
#paint{
    font-size: 10px;
    font-family: -apple-system;
}
#sing{
    font-size: 10px;
    font-family: -apple-system;
}
#wing{
    font-size: 10px;
    font-family: -apple-system;
}
.one{
    text-align: center;
    background-color: hotpink;
    text-indent: 100px;
}
.old{
    font-style: italic;
}
.pure{
    text-align: center;
}
.name{
    width: 100px;
    height: 150px;
}
a{
    text-decoration: none;
    text-indent: 100px;
}